.rating-div{
	width:770px;
	margin:95px auto 0;
	padding:23px 30px;
	background:url(../images/star-background.png) repeat 0 0;
	text-align:center;
}

.rating-div p{
	font:normal 24px/24px  "Century Gothic", Arial;
	color:#000;
}

.input-box{
	width:570px;
	margin:15px auto 0;
}

.input-box span{
	width:160px;
	background:#cccbce;
	padding:3px 10px;
	color:#FFF;
	display:block;
	font:normal 14px/14px  "Century Gothic", Arial;
}
.input-box textarea{
	margin-top:-1px;
	background:#fbfbfb;
	width:98%;
	font:normal 14px/14px  "Century Gothic", Arial;
	color:#000;
	padding:4px;
	height:50px;
	border:3px solid #cccbce;
	resize:vertical;
}
.btn-rate {
	background: #79bd54;
	height:42px;
	display: block;
	cursor: pointer;
	font-size: 24px;
	padding:0  0 4px 0;
	color:#FFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;	
	-moz-box-shadow: inset 0 0 10px #62a33f;
	-webkit-box-shadow: inset 0 0 10px #62a33f;
	-o-box-shadow: inset 0 0 10px #62a33f;
	box-shadow: inset 0 0 10px #62a33f;
	width:190px;
	margin:16px auto 0;
}
.btn-rate:hover {
	background: #15a7dc;	
	-moz-box-shadow: inset 0 0 10px #1487b1;
	-webkit-box-shadow: inset 0 0 10px #1487b1;
	-o-box-shadow: inset 0 0 10px #1487b1;
	box-shadow: inset 0 0 10px #1487b1;
}
/* ---  Rating bar --- */

.webwidget_rating_bar {
	width:200px;
	margin:2px auto 4px;
	overflow:hidden;
}
.webwidget_rating_bar li {
	cursor: pointer;
	float: left;
	height: 31px;
	line-height: 0;
	list-style: none outside none;
	margin: 0 0 0 4px;
	padding: 0;
	width: 33px;
	cursor: pointer;
}
.webwidget_rating_bar li div {
	height: 31px;
	background-position: 0 -44px !important;
}
/* ---  /Rating bar --- */